.header__{
  background-color: #FFFFFF;
}
.logo{
  color: #e60023 !important;
  font-weight: bold;
}

.logo svg{
  color: #e60023;
}
.btns .SignUpBtn{
  padding: 10px 13px;
  background-color: #E2E2E2;
  border-radius: 30px;
  color: black;
}
.btns .LoginBtn{
  padding: 10px 13px;;
  background-color: #e60023;
  border-radius: 30px;
  color: white;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.banner{
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.banner .headings{
  position: absolute;
  margin-bottom: 20%;
}
.headings .heading1{
  font-size: 4rem !important;
  color: black;
}
.headings .heading2{
  font-size: 3rem !important;
  color: green;
}
.images{
  height: 350px;
  object-fit: cover;
  width: 250px;
}
.mansory{
  margin-top:27% ;
}
.mansory .images img{
  border-radius: 20px;
  height: 100%;
  width: 100%;
}
.columtwo{
  margin-top: 5%;
}
.columthree{
  margin-top: 10%;
}
.columfour{
  margin-top: 20%;
}


.bottom-layer{
  position: absolute;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100px;
  bottom: 0;
}

.idea{
  background-color: #FFFD92;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #C31952;
  
}
.image{
  cursor: pointer;
}
.image img{
  width: 300px !important;
}
.__idea .idea .image{
  position: relative;
}
.input__{
  position: absolute;
  width: 50%;
  height: 20%;
  border-radius:50px;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.explore{
  padding: 10px 13px;;
  background-color: #C31952;
  border-radius: 30px;
  color: white;
  width: 200px;
  margin: 20px auto;
  
}
.awwwwww{
  background-color: white !important;
  border: none !important;
}
.container-fluid.signup{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://ideaspot.tv/wp-content/uploads/2022/12/image-12-1536x802.png");
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.form{
  width: 10%;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* gap: 30%; */
}
.bottom-layer{
  position: absolute;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100px;
  bottom: 0;
}

section.idea{
  background-color: #FFFD92;
  width: 100vw;
  height: 100vh;
}

.rightmain svg{
font-size: 30px;
margin: 0 10px;
cursor: pointer;
color: #5F5F5F;
}
.formHeader{
  position: relative;
}
.headerInput{
  border: none;
  background-color: #E9E9E9;
  border-radius: 30px;
  padding: 15px;
}
.select-box{
  background-color: #E9E9E9;
  padding: 15px;
  border-radius: 30px;
  position: absolute;
  right: 0;
}

.postContainer{
  margin-top: 8%;
  padding: 0 5% !important;
}

.savebtn{
  width: 60px;
  padding: 8px;
  background-color: #e60023;
  border-radius: 30px;
  color: white;
  text-align: center;
  position: absolute;
  right: 5%;
  top: 5%;
  transition: all ease .3s;
}
.savebtn:hover{
  background-color: #cc0623;
}
.postCard{
  position: relative;
  width: 250px;
  min-height: 200px;
  border-radius: 15px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: all ease .3s;
}
.card-image img{
  width: 100%;
  min-height: 200px;
  height: 100% !important;
  border-radius: 15px;
}
.postCard .details{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postCard:hover .details{
  color: white;
}
.postIcons{
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: black;
}
.postIcons svg{
  font-size: 30px;
  background-color: #E9E9E9;
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
  transition: all ease .3s;
  
}
.postIcons svg:hover{
  background-color: white;
}
.postCard:hover .card-image img{
  background-color: #5F5F5F;
}
.postIcons,.savebtn{
  display: none;
}
.postCard:hover .postIcons,
.postCard:hover .savebtn{
  display: block;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
  border-radius: 15px;
  display: none;
  transition: all ease .3s;
}

.postCard:hover .overlay {
  display: block;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex
   /* gutter size offset */
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}


.modelAuth{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modelAuth .pinSVG{
  font-size: 3rem;
  color:#cc0623;
}
.modelAuth .MuiCircularProgress-root{
  width: 30px !important;
  height: 30px !important;
}
.modelAuth .MuiCircularProgress-svg{
  font-size: 10px !important;
  color: white !important;
  size: 10px;
}
.authBtn{
  background-color:#e60023 !important;
  width: 100%;
  color: white !important;
  border-radius: 30px  !important;
  padding: 15px !important;
}
.authBtn.google{
  background-color: #1877f2 !important;
}
.form-control{
  padding: 15px !important;
  border: 2px solid #5F5F5F !important;
  border-radius: 16px !important;
}

.SingleContainer{
  margin-top: 8%;
  width: 70vw !important;
  height: 130vh;
  overflow: hidden;
}
.postImage{
  width: 100%;
  height: 130vh  !important;
  object-fit: cover;
}
.postImage img{
  object-fit: cover;
  height: 100%;
}
.postDetails{
  position: relative !important;
}
.post__nav{
  background-color: white;
}
.post__nav .Icons svg{
  font-size: 3rem;
  border-radius: 50%;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px;
  transition: all ease .3s;

}


.NavSavebtn{
  width: 60px;
  padding: 8px;
  background-color: #e60023;
  border-radius: 30px;
  color: white;
  text-align: center;
  transition: all ease .3s;
}
.CreateFile{
  width: 100%;
  height: 400px !important;
  border: 1px dotted #cc0623;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  object-fit: cover;
  position: relative;
}

.CreateFile svg{
  font-size: 5rem;
  color: #C31952;
}
.CreateFile .preview-image{
  object-fit: contain;
  width: 100% !important;
  height: 100% !important;
}
.overlayy{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.514);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all linear .3s;
  opacity: 0;
}
.changeBtn{
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 8px;
  transition: all ease .2s  ;
}
.changeBtn:hover{
  background-color: rgba(255, 255, 255, 0.292);
  color: yellow;
}

.CreateFile:hover .overlayy{
  opacity: 1;
}

.createBtn{
  border: 2px solid #cc0623;
  padding: 8px 10px;
  border-radius: 8px;
  color: #cc0623;
  transition: all ease .3s;
}
.createBtn:hover{
  background-color: #cc0623;
  color: white;
}