
  @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat:wght@400;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* font-family: 'Fira Mono', monospace !important; */
/* font-family: 'Montserrat', sans-serif; */
font-family: 'Roboto', sans-serif !important;
overflow-x: hidden;
} 